<h2>Optimización</h2>
<hr />

<div class="row">
  <p>Seleccione el número de variables:</p>
</div>

<div class="row mb-4">
  <shared-select-variable
    (onMatrix)="changeMatrix($event)"
    (onFormVector)="changeFormVector($event)"
  >
  </shared-select-variable>
</div>

<div class="mb-4" style="display: flex; justify-content: center">
  <button
    class="btn btn-primary"
    (click)="optimize()"
    style="background-color: #0f0f0f; border-color: #0f0f0f"
  >
    Calcular
  </button>
</div>

<div class="row mb-4">
  <div class="col">
    <p class="mb-4">Forma cuadrática</p>
    <div class="row">
      <div
        *ngFor="
          let controlName of formVector.controls | keyvalue;
          let i = index
        "
        style="width: 120px; height: 40px; display: flex"
      >
        <form [formGroup]="formVector">
          <div style="display: flex">
            <input
              (keyup)="
                onKeyPress(
                  formVector.get(controlName.key)?.value,
                  controlName.key,
                  true
                )
              "
              [formControlName]="controlName.key"
              class="form-control"
              type="number"
            />
            <div [innerHTML]="quadratic(controlName.key)"></div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col">
    <p class="mb-4">Matriz</p>
    <div *ngFor="let a of matrix; let i = index" class="row">
      <input
        *ngFor="let variable of matrix; let j = index"
        (keyup)="onKeyPress(txtInput.value, txtInput.id, false)"
        [id]="i.toString() + j.toString()"
        [value]="a[j]"
        class="form-control"
        style="width: 45px; height: 45px"
        type="number"
        #txtInput
      />
    </div>
  </div>
</div>
