<div class="row mb-4">
  <shared-select-variable
    (onMatrix)="changeMatrix($event)"
    (onFormVector)="changeFormVector($event)"
  >
  </shared-select-variable>
</div>

<div class="row">
  <div class="col">
    <div class="row">
      <div
        *ngFor="
          let controlName of formVector.controls | keyvalue;
          let i = index
        "
        style="
          width: 100px;
          height: 40px;
          background-color: aqua;
          display: flex;
        "
      >
        <form [formGroup]="formVector">
          <input
            (keyup)="
              onKeyPress(
                formVector.get(controlName.key)?.value,
                controlName.key,
                true
              )
            "
            [formControlName]="controlName.key"
            class="form-control"
            type="number"
          />
        </form>
      </div>
    </div>
  </div>

  <div class="col">
    <div *ngFor="let a of matrix; let i = index" class="row">
      <input
        *ngFor="let variable of matrix; let j = index"
        (keyup)="onKeyPress(txtInput.value, txtInput.id, false)"
        [id]="i.toString() + j.toString()"
        [value]="a[j]"
        class="form-control"
        style="width: 45px; height: 45px"
        type="number"
        #txtInput
      />
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="log()">Calcular</button>
